/* 미디어쿼리 조건 작성위치 */
@media screen and (max-width:1250px){
    /* =======================공통 선택자 + 1행 반응형디자인(tablet) */
    #wrap .container > * {padding:0 80px;}
    #wrap .container .main_title {font-size:3.13rem;}
    #wrap .container h2 {font-size:2.50rem;}
    #wrap .container .sponsor_btn {
        font-size:1.38rem;
        width:270px; padding:15px 0;
        display:flex; align-items:center; justify-content:center;
    }
    #wrap .container .sponsor_q_btn {font-size:1.25rem;}
    #wrap .container .sponsor_q_btn img:first-child {display:none;}
    /* =======================2행 반응형디자인(tablet) */
    #wrap .bg2 .contents .quiz_contents h2 {
        font-size:2.50rem;
        margin:0 0 56px 222px;
    }
    #wrap .bg2 .contents .quiz_contents form .answer_btn {
        width:300px;
    }
    #wrap .bg2 .contents .quiz_status {
        text-align:right;
    }
    #wrap .bg2 .contents .quiz_status img {width:316px;}
    /* =======================3행 반응형디자인(tablet) */
    #wrap .bg3 .contents h2 {
        font-size:2.50rem;
    }
    /* =======================4행 반응형디자인(tablet) */
    /* =======================5행 반응형디자인(tablet) */
    /* =======================6행 반응형디자인(tablet) */
    /* =======================7행 반응형디자인(tablet) */
    /* =======================8행 반응형디자인(tablet) */
    /* =======================9행 반응형디자인(tablet) */
    /* =======================10행 반응형디자인(tablet) */
}/* 1250 end */
@media screen and (max-width:900px){
        /* =======================2행 반응형디자인(769~900) */
        #wrap .bg2 .contents {
            flex-flow:column nowrap;
            align-items:center;
        }
        #wrap .bg2 .contents .quiz_contents {margin-bottom:50px;}
        #wrap .bg2 .contents .quiz_contents h2 {margin-left:0;}
}/* 769~900 end */
@media screen and (max-width:768px){
    /* =======================공통 선택자 + 1행 반응형디자인(mobile) */
    #wrap .container > * {padding:0 15px;}
    #wrap .container h2 {font-size:1.38rem;}
    #wrap .bg1 .gradient .contents h1:nth-child(1) {width:40px;}
    #wrap .container .main_title {font-size:1.88rem;}
    #wrap .bg1 .gradient .contents > * {margin-bottom:50px;}
    #wrap .bg1 .gradient .contents .sponsor_q_btn {align-self:center;}
    /* =======================2행 반응형디자인(mobile) */
    /* =======================3행 반응형디자인(mobile) */
    #wrap .bg3 .contents h2 {font-size:1.38rem;}
    #wrap .bg3 {padding:70px}
    #wrap .bg3 .contents iframe {height:300px;}
    /* =======================4행 반응형디자인(mobile) */
    /* =======================5행 반응형디자인(mobile) */
    /* =======================6행 반응형디자인(mobile) */
    /* =======================7행 반응형디자인(mobile) */
    /* =======================8행 반응형디자인(mobile) */
    /* =======================9행 반응형디자인(mobile) */
    /* =======================10행 반응형디자인(mobile) */
}/* 320~768 end */